p {
color: blue;

}
h1{

    color:red;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3{

    color :yellow;
    background-color: burlywood;
}
